* {
  box-sizing: border-box;
  font-family: Asap, sans-serif;
  margin: 0;
  padding: 0; }

body {
  background-color: #292C34; }

h1 {
  font-size: 2.5rem; }

header {
  background-color: #FFF;
  padding: 20px; }
  header h1 {
    color: #292C34;
    text-align: center; }

main {
  padding-top: 10px; }

img {
  height: 125px;
  width: 125px; }

@keyframes shake {
  25% {
    top: -5px;
    left: 5px; }
  50% {
    top: 0;
    left: 0; }
  75% {
    top: -5px;
    left: 5px; }
  100% {
    top: 0;
    left: 0; } }

.playground {
  border-bottom: 3px solid #404552;
  display: flex;
  justify-content: center;
  margin: 35px auto;
  width: 50%; }
  .playground img {
    margin: 25px 45px 45px; }
  .playground h2 {
    color: #FFF;
    text-align: center; }
  .playground participant {
    display: flex;
    flex-direction: column; }

#user img {
  transform: rotate(90deg); }
  #user img#userChoice.paper, #user img#userChoice.scissors {
    -moz-transform: rotate(-90deg) scaleY(-1);
    -webkit-transform: rotate(-90deg) scaleY(-1);
    transform: rotate(-90deg) scaleY(-1);
    -o-transform: rotate(-90deg) scaleY(-1); }
  #user img.win {
    position: relative;
    animation: shake .5s linear 0s 1 alternate; }

#computer img {
  -moz-transform: rotate(270deg) scaleX(-1);
  -o-transform: rotate(270deg) scaleX(-1);
  -webkit-transform: rotate(270deg) scaleX(-1);
  transform: rotate(270deg) scaleX(-1); }
  #computer img#computerChoice.paper, #computer img#computerChoice.scissors {
    transform: rotate(-90deg); }
  #computer img.loss {
    position: relative;
    animation: shake .5s linear 0s 1 alternate; }

.scoreboard {
  border-radius: 5px;
  border: 3px solid #FFF;
  color: #FFF;
  font-size: 40px;
  margin: 0 auto;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  width: 15%; }
  .scoreboard.win {
    border-color: #35C446; }
  .scoreboard.loss {
    border-color: #E2584D; }

.badge {
  background-color: #E2584D;
  border-radius: 5px;
  font-size: 14px;
  padding: 2px 10px;
  position: absolute;
  top: 25px; }
  .badge#user {
    left: -25px; }
  .badge#user.win, .badge#computer.loss {
    background-color: #35C446; }
  .badge#computer {
    right: -30px; }

.result h1 {
  color: #FFF;
  font-size: 2.5rem;
  margin-top: 25px;
  text-align: center; }

.message {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center; }

.buttons {
  display: flex;
  justify-content: center; }

.reset {
  background-color: #404552;
  border-radius: 5px;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 25px; }

.choices {
  display: flex;
  justify-content: center;
  margin: 50px; }

.choice {
  border-radius: 50%;
  border: 2px solid #FFF;
  cursor: pointer;
  margin: 0 20px;
  padding: 10px;
  transition: background-color .5s ease; }
  .choice img {
    height: 50px;
    width: 50px; }
  .choice:hover {
    background-color: #1C1E24; }

