.buttons {
	display: flex;
	justify-content: center;
}

.reset {
	background-color: #404552;
	border-radius: 5px;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 2rem;
	padding: 10px 25px;
}
