.buttons {
	display: flex;
	justify-content: center;
}

.reset {
	background-color: #404552;
	border-radius: 5px;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 2rem;
	padding: 10px 25px;
}

.reset:hover {
	background-color: #4C5261;
}

.reset:active {
	box-shadow: inset 1px 1px 5px #404552;
	outline: none;
}
